{% extends "base.html" %}

{% block lab %} Лабораторная работа №2 {% endblock %}

<link rel="stylesheet" href="{{ url_for('static', filename='lab2.css') }}">

{% block main %}
    <h1>Красные пионы</h1>
    <img src="{{ url_for('static', filename='flower.jpg') }}">
    <div style="position: relative; margin-right: 300px;"> 
          <p>Мне нравятся красные пионы за их красоту и яркость. 
          Когда я смотрю на них, я чувствую, как они наполняют меня энергией и радостью. 
          В целом, красные пионы для меня олицетворяют красоту, любовь и жизненную энергию.
          </p>
          url_for('static', filename='flower.jpg)
    </div>

    <h1>Любимый парфюм by Kilian</h1>
    <img src="{{ url_for('static', filename='parfume.jpg') }}">
    <div style="position: relative; margin-right: 100px;"> 
          <p>Angels Share содержит коньячную эссенцию, которая получена из самого напитка
             и придает ему натуральный карамельный цвет. Вслед за этой верхней нотой начинает
             звучать дубовый абсолю, эссенция корицы и абсолю бобов тонка. Стойкие акценты сандала,
             пралине и ванили образуют неповторимый изысканный шлейф, достойный истинных ангелов. 
          </p>
    </div>

    <h1>Своя библиотека</h1>
    <img src="{{ url_for('static', filename='books.jpg') }}">
    <div style="position: relative; margin-right: 300px;"> 
          <p>
            Мечта собрать свою личную библиотеку с огромным количеством разнообразных книг.
          </p>
    </div>

    <h1>Машинка Infinity</h1>
    <img src="{{ url_for('static', filename='infinity.jpg') }}">
    <div style="position: relative; margin-right: 300px;"> 
          <p>
            Просто хочу.
          </p>
    </div>

    <h1>Большая любовь к икусству и музеям</h1>
    <img src="{{ url_for('static', filename='museum.jpg') }}">
    <div style="position: relative; margin-right: 300px;"> 
          <p>Искусство - это один из самых важных аспектов нашей культуры.
             Оно позволяет нам увидеть мир с новой стороны, расширить свой кругозор
             и узнать больше о прошлом и настоящем нашего общества. Музеи являются
             особым местом, где мы можем наслаждаться искусством и получать новые знания.
          </p>
    </div>
{% endblock %}

