{% extends "base5.html" %}

{% block lab %} Лабораторная работа 6 {% endblock %}

{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='lab5.css')}}">
    <div class="line">
        <div class="header-title">
            База знаний
        </div>
        <div class="header-url-zam">
            <a href="/lab6/articles">Посмотреть заметки</a>
        </div>

        <div class="header-url-cre">
            <a href="/lab6/newarticle">Создать заметки</a>
        </div>
        
        <form action="/lab6/login" class="button_log">
            <button class="button1" type="submit">Логин</button>
        </form>

        <form action="/lab6/register" class="button_reg">
            <button class="button1" type="submit">Регистрация</button>
        </form>

        <form action="/lab6/logout" class="button_exit">
            <button class="button1" type="submit">Выйти</button>
        </form>

        {% if current_user.username %}
            <div class="username">
                {{ current_user.username}}
            </div>
        {% else %}
            <div class="username">Anon</div>
        {% endif %}
    </div>
</div>

<div>
    <h1>Новая заметка</h1>

    <form method="post" style="display: block;">
        <div>
            <input type="text" class="input-field" name="article_title" placeholder="Название статьи">
        </div> 
        <div>                                                                                              
            <textarea name="article_text" class="textstate" placeholder="Текст статьи" rows="20" style="width: 300px;
            margin-top: 15px;
            margin-bottom: 20px;"></textarea>
        </div>
            <input type="submit" value="Apply"/>
        </div>
    </form>
</div>
{% endblock %} 